* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #ff6700;
}
html {
  color: #333;
  min-width: 1226px;
  font: 14px/1.5 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}
.iconfont {
  color: inherit;
  font-size: inherit;
}
.container {
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
.l {
  float: left;
}
.r {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.inline-block {
  display: inline-block;
}
/* header */
.header {
  color: #b0b0b0;
  background: #333;
  height: 40px;
  font-size: 12px;
}
.header a:hover {
  color: #fff;
}
.header .nav-list a {
  float: left;
  height: 40px;
  line-height: 40px;
}
.header .nav-list a::after {
  content: '|';
  color: #424242;
  margin: 0 7px;
}
.header .nav-list a:last-child::after {
  content: none;
}
.header .car {
  margin-left: 20px;
  width: 120px;
  height: 40px;
  background: #424242;
  position: relative;
}
.header .car a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  vertical-align: 2px;
}
.header .car .i-car {
  margin-right: 3px;
  font-size: 16px;
}
.header .car:hover {
  background: #fff;
}
.header .car:hover a {
  color: #ff6700;
}
.header .car:hover .detail {
  display: block;
}
.header .car .detail {
  position: absolute;
  background: #fff;
  width: 320px;
  height: 100px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 100px;
  border-top: none;
  right: -1px;
  top: 40px;
  display: none;
  z-index: 3;
}

/* nav */
.nav {
  height: 100px;
  position: relative;
}
.nav .container {
  height: 100%;
}
.nav .logo {
  background: url(../img/logo.png) left top/56px 56px;
  width: 56px;
  height: 56px;
  margin-top: 22px;
  margin-right: 172px;
}
.nav .logo h1 {
  display: none;
}
.nav .nav-list {
  height: 100px;
  line-height: 100px;
  font-size: 16px;
}
.nav .nav-list a {
  padding: 0 10px;
}
.nav .search {
  margin-top: 25px;
  width: 300px;
  height: 50px;
  position: relative;
}
.nav .search input {
  width: 245px;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.nav .search .icon {
  outline: none;
  width: 55px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #616161;
  border: 1px solid #ccc;
  background: transparent;
  border-left: none;
  cursor: pointer;
}
.nav .search .icon:hover {
  background: #ff6700;
  color: #fff;
  border: none;
}
.nav .search .iconfont {
  font-size: 20px;
}
.nav .search input:hover {
  border-color: #aaa;
}
.nav .search input:hover ~ .icon {
  border-color: #aaa;
}
.nav .search input:focus {
  border-color: #ff6700;
}
.nav .search input:focus ~ .icon {
  border-color: #ff6700;
}
.nav .suggest {
  position: absolute;
  width: 245px;
  top: 50px;
  border: 1px solid #ff6700;
  border-top: none;
  font-size: 12px;
  display: none;
  background: #fff;
  z-index: 2;
}
.nav .suggest a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.nav .suggest a:hover {
  color: inherit;
  background: #eee;
}
.nav .search input:focus ~ .suggest {
  display: block;
}
.nav .sub-menu {
  position: absolute;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  top: 100px;
  left: 0;
  z-index: 1;
  display: none;
  line-height: 1.5;
  background: #fff;
}

.nav .sub-menu .item {
  width: 204px;
  text-align: center;
  font-size: 12px;
}
.nav .sub-menu .item:hover {
  color: inherit;
}
.nav .sub-menu .cover {
  text-align: center;
  margin-bottom: 10px;
  border-right: 1px solid #eee;
}
.nav .sub-menu .item:last-child .cover {
  border-right: none;
}
.nav .sub-menu .cover img {
  width: 160px;
  height: 110px;
}
.nav .sub-menu .item .price {
  color: #ff6700;
}
.nav .nav-list:hover .sub-menu {
  display: block;
}

/* banner */
.banner {
  position: relative;
  height: 460px;
}
.banner .cover {
  display: block;
}
.banner .cover img {
  height: 100%;
  width: 100%;
  display: block;
}
.banner .dots {
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}
.banner .dots span {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}
.banner .dots span.selected {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(0, 0, 0, 0.4);
}
.banner .pointer {
  position: absolute;
  top: 50%;
  height: 70px;
  width: 40px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: #b8c3cb;
  cursor: pointer;
  margin-top: -20px;
}
.banner .pointer:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.banner .nav-left {
  left: 234px;
}
.banner .nav-right {
  right: 0;
}

.banner .menu {
  width: 234px;
  background: rgba(105, 101, 101, 0.6);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 20px 0;
}
.banner .menu .menu-item {
  height: 42px;
  line-height: 42px;
  padding: 0 20px 0 30px;
  cursor: pointer;
}
.banner .menu > li:hover .menu-item {
  background: #ff6700;
}
.banner .menu .sub-menu {
  position: absolute;
  width: 992px;
  left: 234px;
  top: 0;
  outline: 1px solid #eee;
  height: 100%;
  background: #fff;
  color: #333;
  display: none;
}
.banner .menu .sub-menu a {
  width: 248px;
  height: 76px;
  line-height: 76px;
  padding: 0 20px;
}
.banner .menu .sub-menu img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  margin-top: 17px;
}
.banner .menu .sub-menu span {
  width: 156px;
  /* background: red; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner .menu > li:hover .sub-menu {
  display: block;
}

/* banner2 */
.banner2 {
  margin-top: 14px;
  margin-bottom: 26px;
}

.banner2 .item {
  width: 316px;
  height: 170px;
  margin-right: 15px;
}
.banner2 .item img {
  width: 100%;
  height: 100%;
}
.banner2 .item:last-child {
  margin-right: 0;
}

.banner2 .service {
  width: 234px;
  height: 170px;
  background: #5f5750;
  margin-right: 14px;
  padding: 3px;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}
.banner2 .service a {
  width: 76px;
  height: 82px;
  padding-top: 10px;
  position: relative;
}
.banner2 .service a:hover {
  color: #fff;
}
.banner2 .service .iconfont {
  display: block;
  font-size: 26px;
}
.banner2 .service a::before {
  content: '';
  position: absolute;
  background: #665e57;
  /* background: red; */
  top: 0px;
  width: 64px;
  height: 1px;
  left: 6px;
}
.banner2 .service a::after {
  content: '';
  position: absolute;
  background: #665e57;
  /* background: red; */
  left: 0px;
  width: 1px;
  height: 70px;
  top: 6px;
}

/* main */
.main {
  background: #f5f5f5;
  overflow: hidden;
  padding: 22px 0;
}

/* banner3 */

.banner3 img {
  width: 100%;
}

/* showcase */
.showcase {
  margin-bottom: 8px;
}
.showcase .top {
  height: 58px;
  line-height: 58px;
}
.showcase .top .title {
  font-size: 22px;
}
.showcase .top .aside {
  font-size: 16px;
  color: #424242;
}
.showcase .top .aside .iconfont {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #b0b0b0;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  vertical-align: 2px;
}
.showcase .top .aside a:hover .iconfont {
  background: #ff6700;
}
.showcase .first {
  width: 234px;
  background: #fff;
  height: 614px;
  margin-right: 14px;
}
.showcase .first img {
  width: 100%;
  height: 100%;
}
.showcase .brick-list {
  width: 978px;
  height: 614px;
}
.showcase .brick-list a {
  width: 234px;
  height: 300px;
  text-align: center;
  background: #fff;
  margin-right: 14px;
  margin-bottom: 14px;
  padding: 20px 0;
}
.showcase .brick-list a img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
}
.showcase .brick-list a:hover {
  color: inherit;
}
.showcase .brick-list a:nth-child(4n) {
  margin-right: 0;
}
.showcase .brick-list .title {
  display: block;
  margin-top: 18px;
  margin-bottom: 2px;
}
.showcase .brick-list .desc {
  font-size: 12px;
  color: #b0b0b0;
  margin-bottom: 10px;
  display: block;
}
.showcase .brick-list .price {
  color: #ff6700;
}

.showcase .tab-item {
  height: 26px;
  margin-left: 30px;
  cursor: pointer;
  line-height: 26px;
  margin-top: 16px;
}
.showcase .tab-item.selected {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.showcase .price del {
  color: #b0b0b0;
}

/* footer */
.footer .service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
}
.footer .service li {
  width: 20%;
  border-right: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
  height: 20px;
  line-height: 20px;
}
.footer .service li:last-child {
  border-right: none;
}
.footer .service .iconfont {
  font-size: 26px;
  vertical-align: -5px;
}
.footer .link-container {
  padding: 40px 0;
}
.footer .link-list {
  width: 160px;
  color: #757575;
}
.footer .link-list p {
  color: #424242;
  margin-bottom: 17px;
}
.footer .link-list a {
  margin-top: 10px;
  font-size: 12px;
  display: block;
}
.footer .contact {
  border-left: 1px solid #e0e0e0;
  width: 20%;
  text-align: center;
  color: #616161;
  font-size: 12px;
}
.footer .contact .phone {
  font-size: 22px;
  color: #ff6700;
}

.footer .contact .chat {
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 28px;

  border: 1px solid #ff6700;
  color: #ff6700;
  margin: 5px 0;
}
.footer .contact .chat:hover {
  background: #ff6700;
  color: #fff;
  cursor: pointer;
}
.footer .contact .subscribe .iconfont {
  font-size: 22px;
  vertical-align: -5px;
  margin-left: 2px;
  cursor: pointer;
}
.footer .contact .subscribe .iconfont:hover {
  color: #ff6700;
}

/* right-menu */
.right-menu {
  position: fixed;
  right: 0;
  bottom: 70px;
  width: 84px;
  z-index: 99;
}
.right-menu .item {
  width: 84px;
  height: 92px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  border: 1px solid #f5f5f5;
  color: #757575;
  padding-top: 14px;
  border-top: none;
  position: relative;
}
.right-menu .item:first-child {
  border-top: 1px solid #f5f5f5;
}
.right-menu .item:hover {
  color: #ff6700;
}
.right-menu .item .iconfont {
  font-size: 30px;
}
.right-menu .item .title {
  display: block;
}
.right-menu .totop {
  margin-top: 18px;
  border-top: 1px solid #f5f5f5;
}
.right-menu .mention {
  position: absolute;
  right: 90px;
  border: 1px solid #f5f5f5;
  padding: 14px;
  background: #fff;
  top: 0;
  display: none;
}
.right-menu .mention img {
  width: 100px;
  height: 100px;
}
.right-menu .mention p {
  color: #757575;
  margin: 14px auto 0;
  width: 82px;
}
.right-menu .mention::before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-left-color: #fff;
  right: -12px;
  top: 40px;
}
.right-menu .item:hover .mention {
  display: block;
}
